.DS_Store
build
output
azure.secret
*.iws
*.bak
Thumbs.db
version.txt
sounds/Sydney-Female/As a result of timetable alterations for the Olympic games CountryLink train will not be stopping at this station CountryLink passengers should board services at Central or contact CountryLink reservations.mp3
sounds/Sydney-Female/We are currently experiencing over crowding on platforms at this station For your safety entry to this station has been restricted Please listen out for further announcements CityRail appreciates your cooperation.mp3
sounds/Sydney-Male/Attention all passengers with young children For the convenience and safety of yourselves and other passengers, please keep a firm hold on your children when boarding the train and while on the platform.mp3
sounds/Sydney-Male/Customers CityRail requests you keep your bags and any other items with you at all times If you see unattended baggage please do not touch but notify station staff immediately Thank you for your co-operation.mp3
sounds/Sydney-Male/Owing to a defective train, trains have been slightly disrupted Please watch the indicator board and listen to the announcements for the destination of each train CityRail thanks you for your co-operation.mp3
sounds/Sydney-Male/Owing to a derailment trains are running late and out of timetable order The extent of the delay is not yet known and every effort is being made to obtain this information Please stand by for further announcements.mp3
sounds/Sydney-Male/The trains are running late and out of timetable order Please check the indicators and listen to the announcements before boarding a train State Rail apologises for the delay and any inconvenience caused.mp3
sounds/Sydney-Male/Your attention please Problems with overhead wiring are causing some disruptions to the City Rail System Passengers will be advised further as soon as information is received City Rail apologises for the delay.mp3
